<!DOCTYPE html>
{% load static %}
{% load pagination_tags %}
{% load cache %}
{% load sidebar %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}Блог программиста{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="author" content="You name">
    <meta name="robots" content="index, follow">

    <!-- Каноническая ссылка для предотвращения дублей -->
    {% block canonical %}
    {% with canonical_url=request.scheme|add:"://"|add:request.get_host|add:request.path %}
    <link rel="canonical" href="{{ canonical_url }}">
    {% endwith %}
    {% endblock %}

    <link rel="icon" href="{% static '/favicon/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!--<link rel="stylesheet" href="{% static '/highlight/atom-one-dark.css' %}"">-->
    <!-- Подключаем стили Highlight.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/atom-one-dark.min.css">
    <!-- Подключаем наши стили для подсветки кода -->
    <link rel="stylesheet" href="{% static '/for_highlightjs/for_highlightjs.css' %}">
    <!-- Подключаем сам Highlight.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <!-- Подключаем дополнительный язык (Python) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/python.min.js"></script>
    <!-- Подключаем плагин нумерации строк -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
</head>
<body>

{% cache 20 header %}
{% include 'inc/_header.html' %}
{% endcache %}

    <main class="container">

        {% block content %}{% endblock %}

        <aside class="sidebar">
            <!-- Виджет поиска -->
            <div class="widget search-widget">
                <h3>Поиск по сайту</h3>
                <form action="{% url 'search' %}" method="get" class="search-form">
                    <input type="text" name="s" placeholder="Введите запрос..." class="search-input">
                    <button type="submit" class="search-button">Найти</button>
                </form>
            </div>

            <!-- Виджет "Обо мне" 
            <div class="widget about-widget">
                <h3>Обо мне</h3>
                <p>Привет! Я программист, и этот блог - мое место для знаний и опыта. Здесь есть материалы...
				    <a class="speclinks" href="#">Подробнее</a>
				</p>
            </div>-->

            <!-- Виджет последних статей -->
            {% get_popular_posts 3 %}
			
			<!-- Виджет "Теги" -->
            {% get_tags %}

        </aside>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2025 Блог программиста. Все права защищены.<br />
            Копирование и публикация материалов сайта разрешены только с указанием ссылки на источник.</p>
        </div>
    </footer>

    <script src="{% static 'script.js' %}"></script>
    <!--<script src="{% static '/highlight/highlight.min.js' %}"></script>
    <script>hljs.highlightAll();</script> -->
    <script src="{% static '/for_highlightjs/for_highlightjs.js' %}"></script>
</body>
</html>