{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }} :: {{ block.super }} {% endblock %}

{% block content %}
<section class="posts">
            <!-- Посты -->
            {% for post in posts %}
            <article class="post" data-page="1">
                <h2>{{ post.title }}</h2>
                <p class="meta">Опубликовано: {{post.created_at|date:"d.m.Y"}}</p>
                <p>{{ post.content|truncatewords:20|safe }}</p>
                <a href="{{ post.get_absolute_url }}" class="read-more">Читать далее</a>
            </article>
            {% endfor %}
            <!--<article class="post" data-page="1">
                <h2>Заголовок статьи 2</h2>
                <p class="meta">Опубликовано: 5 октября 2023</p>
                <p>Краткое содержание статьи...</p>
                <a href="#" class="read-more">Читать далее</a>
            </article>
			<article class="post" data-page="1">
                <h2>Заголовок статьи 3</h2>
                <p class="meta">Опубликовано: 1 октября 2023</p>
                <p>Краткое содержание статьи...</p>
                <a href="#" class="read-more">Читать далее</a>
            </article>  -->
            <!-- Добавьте больше постов с атрибутом data-page -->

            <!-- Пагинация -->
            <div class="pagination">
                <button class="page-button" data-page="1">1</button>
                <button class="page-button" data-page="2">2</button>
                <button class="page-button" data-page="3">3</button>
            <!-- Добавьте больше кнопок по мере необходимости -->
            </div>
        </section>
{% endblock %}