{% extends "base.html" %}
{% load static %}
{% load code_tags %}

{% block title %}{{ block.super }}: {{ post.title }} {% endblock %}

{% block meta_description %}{{ meta_description }}{% endblock %}

{% block meta_keywords %}{{ meta_keywords }}{% endblock %}

{% block content %}
<section class="posts">
    <article class="post">
      <h1>{{ post.title }}</h1>
      <div class="meta">
        <span>Опубликовано: {{ post.created_at|date:"d.m.Y" }}</span><br>
        <span>Категория: <a class="meta" href="{{ post.category.get_absolute_url }}"><b>{{ post.category }}</b></a></span><br>
        {% if post.tags.exists %}
          <span>
            Теги:
            {% for tag in post.tags.all %}
              <a class="meta" style="color: #2c7be5" href="{{ tag.get_absolute_url }}"><b>#{{ tag.title }}</b></a>
            {% endfor %}
          </span><br>
        {% endif %}
        <span>Просмотров: {{ post.count_views }}</span>
      </div>
      {{ post.content|parse_custom_code_blocks|safe }}
    </article>
</section>
{% endblock %}